<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578989557574-njkdr2dvrof7h879b978fj6tkg7dhrh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578989557574-njkdr2dvrof7h879b978fj6tkg7dhrh1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>578989557574-rdftar3916nnm9l8qj2g5p4fi272qej0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0rrmYzrxTnMcfXl-ghlEem56wjGb-HA0</string>
	<key>GCM_SENDER_ID</key>
	<string>578989557574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>emailpasswordauth-2f6c9</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpasswordauth-2f6c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578989557574:ios:033bf0f16b344609a54747</string>
</dict>
</plist>